

<h1>Signup</h1>

<%= form_for @user, url: signup_path do |f| %>

<div>
    <%= f.label :email %>
    <%= f.text_field :email %>
</div>
<div>
    <%= f.label :password %>
    <%= f.password_field :password %>
</div>


<%= f.submit "Signup" %>
<% end %>

<%= link_to "Signup with Github", "/auth/github" %>