<style>
  .click, .show{
     width: 500px;
    border: 2px solid green;
  }
</style>
<h1>Welcome <%= @user.email %></h1>

<div class="click">
<!-- <p>Click <%= link_to "here", new_register_path %> to register tournament you want to pacticipate</p> -->
<ul>
<li>Click <%= link_to "here", new_user_register_path(@user) %> to register tournament you want to pacticipate</li>

<li>Click <%= link_to "here", registers_path %> to see all registrations from others</li>
</ul>

</div>
<br>
<div class="show">
<p><strong>Tournaments you registered:</strong></p>

<table border="1">
  <tr>
    <th>Tournament Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Location</th>
  </tr>

  <tr>
    <td>
        <% @user.registers.each do |r| %>
          <%= r.tournament.name %>
          <br>
        <% end %>
    </td>

    <td>
        <% @user.registers.each do |r| %>
          <%= r.tournament.start_date %>
          <br>
        <% end %>
    </td>
    
    <td>
        <% @user.registers.each do |r| %>
          <%= r.tournament.end_date %>
          <br>
        <% end %>
    </td>

    <td>
        <% @user.registers.each do |r| %>
          <%= r.tournament.location %>
          <br>
        <% end %>
    </td>
    
  </tr>
  </table>
  <br>
  <br>
</div>


    
   
 
