<br>
<br>
<%= link_to "Back to Tournament List", :tournaments%> <br><br>

<h2><%= @tournament.name %> Details</h2>

<b>Tournament Name:</b> <%= @tournament.name %><br><br>
<b>Start Date:</b> <%= @tournament.start_date %><br><br>
<b>End Date:</b> <%= @tournament.end_date %><br><br>
<b>Check-in:</b> <%= @tournament.check_in %><br><br>
<b>Shotgun start:</b> <%= @tournament.shotgun_start %><br><br>
<b>Location:</b> <%= @tournament.location %><br><br>
<b>Description:</b> <%= @tournament.description %><br><br>


