<!DOCTYPE html>
<html>
  <head>
    <title>RailsGolfTournamentRegistration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
     
          <%= link_to "Home", root_path %>
          <% unless logged_in? %>
              <%= link_to "Signup", signup_path %>
              <%= link_to "Login", login_path %>
          <% else %>
              <li><%= link_to "Logout", logout_path, method: :delete %></li>
        
          <% end %>
      
  </nav>
      <img src="https://previews.123rf.com/images/bsd555/bsd5551703/bsd555170300092/74630878-golf-ball-and-clubs-linear-icon-thin-line-illustration-golf-equipment-contour-symbol-vector-isolated.jpg" alt="no image" width="200px" height="150px">

    <%= yield %>
  </body>
</html>
